<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark red">

  <!-- Navbar brand -->
  <span class="navbar-brand">The Shack</span>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      </li>
    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->
</nav>

<div class="container" style="margin-top: 75px; margin-bottom: 75px;">
  <div class="card stylish-color">
    <div style="margin-top: 20px;">
          <h2 class="headings">Contact</h2>
          <p class="headings">If theres a project that you've been looking forward to make or need it to simplify your business then contact me to make
            that dream a reality.
          </p>
    </div>

    <div class="container-fluid" align="center">
      <form class="form">
        <div class="container-fluid row" style="padding-left: 13%;">
          <div class="col-sm-3">
            <input class="form-control inputs" type="text" placeholder="Name"/>
          </div>
          <div class="col-sm-4">
            <input class="form-control inputs" type="email" placeholder="Email" />
          </div>
          <div class="col-sm-3">
            <input class="form-control inputs" type="text" placeholder="Subject" />
          </div>
        </div>
        <div class="container-fluid row" style="padding-left: 13%;">
          <div class="col-sm-10">
            <textarea class="md-textarea inputs " placeholder="Tell me what project do you want to see for you or your business"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-danger" style="margin: 20px;">Send</button>
      </form>
    </div>
  </div>
</div>

<footer class="page-footer fixed-bottom red center-on-small-only">

  <div class="container" align="center">
    <h5>Rafael E. Colón Maldonado</h5>
    <p>Programmer, Musician, Coffee lover</p>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      <p>The Shack © 2018, All rights reserved</p>
    </div>
  </div>
</footer>