<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark red">

  <!-- Navbar brand -->
  <span class="navbar-brand">The Shack</span>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active">About Me</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      </li>
    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->

<!--Card-->
<div class="container" style="margin-top: 75px">
  <div class="card grey lighten-4">
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h1 class="headings">
        Rafael E. Colón Maldonado
      </h1>
      <!--Text-->
      <h4 class="headings">
        Programmer, Musician, and Coffee Lover.
      </h4>
      <div align="center">
        <img class="img-fluid imgView" src="../../assets/images/me.JPG" atl="Rafael" />
      </div>
      <div style="margin-top: 30px;">
        <div class="container" style="margin-top: 40px">
          <div class="card">
            <!--Card content-->
            <div class=" container card-body">
              <h4 class="headings">A bit about me ...</h4>
                      <p class="headings" style="text-align: justify;">
                        Junior developer interested to work on the industry to develop
                        and maintain high quality products. I also want to bring and
                        expand my knowledge with a collaborative group of people seeking
                        whats best for the company and there products.
                        <br><br>
                        On my spare time I like to learn about new technologies that can
                        be of use in a future project or just spark interest.
                      </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Primera columna -->
          <div style="margin-bottom: 20px;" class="col" align="center">
            <h5 class="headings" style="margin: 40px">Programming Languages
              <i class="fa fa-code" aria-hidden="true"></i>
            </h5>
            <ul class="list-group">
              <li class="list-group-item">C++</li>
              <li class="list-group-item">Visual Basic</li>
              <li class="list-group-item">HTML 5</li>
              <li class="list-group-item">CSS 3</li>
              <li class="list-group-item">Javascript</li>
              <li class="list-group-item">Typescript</li>
              <li class="list-group-item">PHP</li>
              <li class="list-group-item">Swift</li>
            </ul>
          </div>

          <!-- Segunda Columna -->
          <div style="margin-bottom: 20px;" class="col" align="center">
            <h5 class="headings" style="margin: 40px"> Frameworks & Repository
              <i class="fa fa-parachute-box" aria-hidden="true"></i>
            </h5>
            <ul class="list-group ">
              <li class="list-group-item">NodeJS</li>
              <li class="list-group-item">NPM</li>
              <li class="list-group-item">Angular</li>
              <li class="list-group-item">Bootstrap</li>
              <li class="list-group-item">GitHub</li>
            </ul>
          </div>

          <!-- Tercera Columna -->
          <div style="margin-bottom: 20px;" class="col" align="center">

            <h5 class="headings" style="margin: 40px">Databases
              <i class="fa fa-database" aria-hidden="true"></i>
            </h5>
            <ul class="list-group">
              <li class="list-group-item">MySQL</li>
              <li class="list-group-item">MongoDb</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--/.Card-->
  </div>
</div>

<footer class="page-footer red center-on-small-only">

  <div class="container" align="center">
    <h5>Rafael E. Colón Maldonado</h5>
    <p>Programmer, Musician and Coffee Lover</p>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      <p>The Shack © 2018, All rights reserved</p>
    </div>
  </div>
</footer>
